.git
.agents
.idea
.vscode

**/target
**/node_modules
**/.next
**/coverage
**/*.log
**/*.tsbuildinfo

**/.env
**/.env.local
**/.env.*.local
**/.env.properties
**/.env-dev.properties
**/.env-prod.properties

README.md
