.git
.idea
.mvn/wrapper/maven-wrapper.jar

**/target
**/*.log

common/.env.properties
common/.env-dev.properties
common/.env-prod.properties
common/.env-prod.properties.before-docker-rename

docker-compose.override.yml
